@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/*======================================================== GLOBAL CSS ================================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.tab-title {
  font-size: 3rem;
  padding-bottom: 0.8em;
  /* background: -webkit-linear-gradient(to right, #cc0000, #ff0000);
  background: linear-gradient(to right,  #cc0000, #ff0000); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.white-title{
  color: #ffffff;
  text-align: center;
}

.black-title{
  color: #1b1b1b;
  text-align: center;
}

.card{
  transform: translateX(80px);
  opacity: 0;
  transition: 150ms;
  border: none;
  background:none;
}

.card-container{
  overflow: hidden;
}

.card.show{
  transform: translateX(0);
  opacity: 1;
}
/*======================================================== PRELOADER =============================================================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000; /* or transparent if your gif handles background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease; /* smooth fading */
}

#preloader img {
  width: 150px; /* adjust size if needed */
  height: auto;
}

/*======================================================== NAV BAR & BANNER =============================================================*/

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
  display: block;
}
.navbar.sticky{
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo img{
  height: 50px;
}
.navbar .menu-list{
  display: inline-flex;
  margin-bottom: 0;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: 0.8em;
  margin-right: 0.8em;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #ff0000;
}

.list_item {
  margin-left: 0px;
  opacity: 1;
}

.banner{
  height: 100vh;
  background: url("img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#ffffff;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.icon{
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  display: none;
}

.banner .container-fluid{
  padding: 10%;
  height: 100%;
  margin: 0;
}

.banner .container-fluid .row{
  height: 100%;
}

.typed-cursor{
  font-size: 2rem; 
  color: #ff0000;
}

#profile{
  display: none;
}

#greet{
  font-size: 3.5rem;
  margin-bottom: 0;
}

.auto-type{
  font-size: 2rem;
  color: #ff0000;
  font-weight: 600;
  margin-bottom: 0;
}

#prof-desc{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}

#prof-tagline{
  font-size: 1.2rem;
}

/*======================================================= MY EXPERIENCE PART =============================================================*/

.page-wrapper {
  position: relative;
}

.timeline-container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.company-name{
  font-size: 1.5rem;
  color: #ff0000;
  font-weight: 600;
}

.paragraph-large {
  letter-spacing: -0.02em;
  font-size: 1.25rem;
}

.section-timeline-heading {
  background-color: #ffffff;
}

.padding-vertical-xlarge {
  padding-top: 6em;
  padding-bottom: 30px;
}

.timeline-main_heading-wrapper {
  color: #000000;
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.timeline_component {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  padding-bottom: 6em;
}

.timeline_item {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-columns: 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  position: relative;
}

.timeline_left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}

.timeline_centre {
  justify-content: center;
  display: flex;
}

.timeline_date-text {
  color: #000000;
  letter-spacing: -0.03em;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  position: sticky;
  top: 50vh;
}

.timeline_text {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
}

.timeline_circle {
  background-color: #1b1b1b;
  border-radius: 100%;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #1b1b1b;
}

.timeline_progress {
  z-index: -2;
  background-color: #414141;
  width: 5px;
  height: 105%;
  position: absolute;
}

.timeline_progress-bar {
  z-index: -1;
  background: #ff0000;
  background: -webkit-linear-gradient(to bottom, #cc0000, #ff0000);
  background: linear-gradient(to bottom, #cc0000, #ff0000);

  width: 5px;
  height: 50vh;
  position: fixed;
  inset: 0 auto 50vh;
}

.section-timeline {
  z-index: -3;
  /* background-color: #ffffff; */
  background: url("img/background3.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.overlay-fade-top {
  /* background-image: linear-gradient(#0a0a0a, #0a0a0a00); */
  height: 80px;
  position: absolute;
  inset: 0% 0% auto;
}

.overlay-fade-bottom {
  /* background-image: linear-gradient(to top, #0a0a0a, #0a0a0a00); */
  height: 80px;
  position: absolute;
  inset: auto 0% 0%;
}

/*====================================================== SOFTWARE SKILLS PART ===========================================================*/

.skill-container{
  padding: 6em 3em;
  place-items: center;
  background: url("img/background4.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}

/* .card-skill-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
	margin: auto;
	color: #e3e3e3;
	width: 100%;
	align-items: center;
} */

.card-skill {
	position: relative;
	overflow: hidden;
	display: grid;
	grid-template-areas: "card";
	place-items: center;
	aspect-ratio: 19/20;
	border: 1px solid #27272a;
	border-radius: 2em;
  background-color: #1b1b1b;
	isolation: isolate;
	transition: border-color 200ms cubic-bezier(0.5, 1, 0.89, 1);
	user-select: none;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: radial-gradient(
		circle at bottom left,
		transparent 55%,#1b1b1b);
		pointer-events: none;
		box-shadow: #1b1b1b -0.5cqi 0.5cqi 2.5cqi inset;
		transition: opacity 900ms cubic-bezier(0.5, 1, 0.89, 1);
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		margin: auto;
		aspect-ratio: 1;
		background: radial-gradient(circle, #09090b, transparent 65%);
		opacity: 0;
		transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
	}

	> * {
		grid-area: card;
	}

	svg {
		position: relative;
		z-index: 1;
		width: 50%;
		height: auto;
		color:  #52525b;
		transition: 300ms cubic-bezier(0.5, 1, 0.89, 1);
		transition-property: color, scale;
	}

	button {
		opacity: 0;
	}

	&:focus-within {
		outline: 5px auto Highlight;
		outline: 5px auto -webkit-focus-ring-color;
	}

	&:where(:hover, :focus-within) {
		border-color: var(--active-color, #e3e3e3);
		transition: border-color 800ms cubic-bezier(0.45, 0, 0.55, 1);
	}

	&:where(:hover, :focus-within) svg {
		color: var(--active-color,#e3e3e3);
		scale: 1.1;
		transition: 300ms cubic-bezier(0.45, 0, 0.55, 1);
	}

	&:where(:hover, :focus-within)::before {
		opacity: 0;
	}

	&:where(:hover, :focus-within)::after {
		opacity: 1;
	}
}

.card-slider{
  --width: 200px;
  --height: 200px;
  --quantity: 10;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
  );
}
.card-slider .card-list{
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.card-slider .card-list .card-skill{
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc( (20s / var(--quantity)) * (var(--position) - 1) - 20s)!important;
}
@keyframes autoRun{
  from{
      left: 100%;
  }to{
      left: calc(var(--width) * -1);
  }
}
.card-slider:hover .card-skill{
  animation-play-state: paused!important;
}
.card-slider[reverse="true"] .card-skill{
  animation: reversePlay 20s linear infinite;
}
@keyframes reversePlay{
  from{
      left: calc(var(--width) * -1);
  }to{
      left: 100%;
  }
}

/*======================================================== MY PROJECTS PART ==============================================================*/

/*=============== CARD ===============*/
.proj__container {
  display: grid;
  place-items: center;
  padding:6em 3em;
  /* background-color: #1b1b1b; */
  background: url("img/background5.jpg") no-repeat;
  background-size: cover;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
  column-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.card__data {
  width: 90%;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 0.2s 1s;
}

.card__description {
  display: block;
  font-size: 0.8rem;
  margin: 0.5em 0;
  text-align: center;
}

.card__title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #1b1b1b;
  margin-bottom: 0;
  text-align: center;
}

.card__button {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #cc0000;
  color: #fff;
  border-style: none;
  padding: 1% 5%;
  border-radius: 8px;
  margin-top: 3%;
  width: 27%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card__button:hover {
  background-color: #c54444;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

.more {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 1s ease;
}

.more.show {
  opacity: 1;
  max-height: 500px; /* Adjust based on content height */
}

.card__article {
	--bg-pos-y--start: 0;
	--bg-pos-y--end: 0;
	--bg-pos-y: var(--bg-pos-y--start);
	--delay: 0;
	--duration: 6s;

	--shadow-blur: 24px;
	--shadow-color: oklch(25% 0.0075 70);

	border: 6px solid var(--border-color, transparent);
	border-radius: 6px;
	box-shadow: 0 0 var(--shadow-blur) 0 var(--shadow-color);

	transition-property: border, 	box-shadow, 	filter, 	outline-offset, 	opacity, 	rotate,		scale,	z-index;
	transition-duration: 0.15s, 	0.15s, 				0.6s, 		0.6s, 						0.3s, 		0.3s,			0.3s,		0.15s;

	filter: grayscale(100%) sepia(5%);
	mix-blend-mode: multiply;
	opacity: 0.69;

	/* 		backface-visibility: hidden;
	transform: translateZ(0) perspective(1px); */
	/* 	transform-origin: center center; */

	scale: 0.85;
	rotate: var(--rotation, -4deg);
	/* 	will-change: box-shadow, filter, rotate, scale, z-index; */

	outline: 9px solid #fff;
	outline-offset: 9px;

	height: 100%;

	width: 100%;

	position: relative;

	animation-name: bg-scroll;
	animation-delay: var(--delay);
	animation-duration: var(--duration);
	animation-fill-mode: forwards;

	&:focus-within,
	&:hover {
		--shadow-blur: 200px;
		--shadow-color: #cc0000;
		--border-color: var(--shadow-color);

		background-color: white;
		mix-blend-mode: initial;
		filter: none;		
		opacity: 1;	
		
		outline-offset: calc(9px / 2);
		
		scale: 1;
		rotate: 0deg;
		
		transition-property: border, 		box-shadow, 		filter, 	outline-offset, 	opacity,	rotate,		scale, 		z-index;
		transition-duration: 0.15s, 		0.15s, 					0.3s, 		0.3s, 						0.3s, 		0.3s, 		0.3s, 		0.15s;
	}

	&:focus-within {
		z-index: 5;
	}
	
	&:hover	{
		z-index: 0;
		&:focus { --shadow-color: oklch(var(--mint)); }
	}

	&:nth-of-type(2) {
		--bg-pos-y--end: calc(auto * -1.025);
		/*       --delay: .25s; */
		--rotation: 3deg;
	}

	&:nth-of-type(3) {
		--bg-pos-y--end: calc(auto * -2.25);
		/*       --delay: .5s; */
		--duration: 6.5s;
		--rotation: -1deg;
	}

	&:nth-of-type(4) {
		--bg-pos-y--end: calc(auto * -3.75);
		/*       --delay: .75s; */
		--duration: 6.75s;
		--rotation: -5deg;
	}

	&:nth-of-type(5) {
		--bg-pos-y--end: calc(auto * -4.82);
		/*       --delay: 1s; */
		--duration: 7s;
		--rotation: -2deg;
	}

	&:nth-of-type(6) {
		--bg-pos-y--end: calc(auto * -5.85);
		/*       --delay: 1.25s; */
		--duration: 7.25s;
		--rotation: 2deg;
	}

	&:nth-of-type(7) {
		--bg-pos-y--end: calc(auto * -7.21);
		/*       --delay: 1.5s; */
		--duration: 7.5s;
		--rotation: 4deg;
	}
}

/* preview-scroll */
@keyframes bg-scroll {
	to {
		background-position-y: var(--bg-pos-y--end);
	}
}


/*======================================================== MY CERTIFICATES ==============================================================*/

.cert-container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

#certificates {
  padding: 6em 3em;
  background: url("img/background4.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}

#certificates .tranding-slider {
  height: fit-content;
  position: relative;
}

.tranding-slide {
  width: 37rem;
  height: auto;
  position: relative;
}

.tranding-slide .tranding-slide-img img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
  border: 5px solid;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #ffffff;
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #ffffff;
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-button-next, .swiper-button-prev {
  position: unset;
  margin-top: 0;
}

.tranding-slider-control {
  /* position: relative; */
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.tranding-slider-control .slider-arrow {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  /* left: 42%; */
  /* transform: translateX(-42%); */
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  align-content: center;
  text-align: center;
}

.tranding-slider-control .slider-arrow svg {
  color: #ffffff;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  width: 15rem;
  bottom: 1rem;
  text-align: center;
  position: unset;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #ffffff;
}

.tranding-slider-control span{
  font-size: 2rem;
  font-weight: 1000;
  color: #ffffff;
}

.tranding-slider-control .swiper-pagination {
  margin-inline: 10px;
}

/* Style for the progress bar container */
.swiper-pagination-progressbar {
  background-color: rgba(236, 236, 236, 0.604);  /* Change the background color of the progress bar */
  border-radius: 40px;  /* Optional: rounded corners for the progress bar */
  height: 8px !important;
}

/* Style for the filling part of the progress bar */
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #cc0000;  /* Change this to the color you want for the progress bar */
  border-radius: 40px;
}



/*================================================================= MY CONTACT ===================================================================*/
.contact__container {
  display: grid;
  place-items: center;
  padding:6em 0em;
  /* background-color: #1b1b1b; */
  background: url("img/background5.jpg") no-repeat;
  background-size: cover;
}

/*=============== CARD ===============*/
.card-profile-container {
  height: 100%;
  place-items: center;
  align-content: center;
}

.card-contact-container{
  margin: auto;
  padding: 10px;
  width: 700px;
}

.card__contact {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.card__profile, 
.card__mask {
  width: 100px;
  height: 100px;
  background-color: hsl(230, 24%, 88%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card__profile {
  width: 200px;
  height: 200px;
}
 
.card__mask {
  width: 100px;
  height: 100px;
  border-style: solid;
}
 
.card__mask img {
  width: 100px;
}

.card__profile img{
  width: 200px;
}

.card__profile {
  border: 4px solid hsl(0, 0%, 100%);
  transition: opacity .4s, transform .4s;
  z-index: 1;
}

.card__tooltip {
  position: absolute;
  bottom: -2rem;
  padding-bottom: 5rem;
  transition: opacity .4s, bottom .4s cubic-bezier(.6, -.5, .3, 1.5);
  pointer-events: none;
  opacity: 0;
}

.card__content {
  position: relative;
  width: 300px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 16px 32px hsla(230, 50%, 20%, .1);
  padding: 2rem 1.5rem;
  border-radius: 1.5rem;
}

.card__content::after {
  content: "";
  width: 32px;
  height: 32px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.75rem;
  margin-inline: auto;
  border-radius: .25rem;
  rotate: 45deg;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid hsl(230, 4%, 92%);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem; */
}

.card__header span {
  color: hsl(230, 24%, 12%);
  font-weight: 500;
  font-size: 1rem;
}

.card__social {
  display: flex;
  column-gap: .75rem;
}

.card__social a {
  font-size: 1.5rem;
  color: hsl(230, 24%, 12%);
  text-decoration: none;
}

.card__image {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto 1rem;
}

.card__status {
  width: 18px;
  height: 18px;
  background-color: hsl(150, 100%, 38%);
  position: absolute;
  top: 0rem;
  right: .75rem;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
}

.card__data__profile {
  text-align: center;
}

.card__name {
  font-size: 1.25rem;
  color: hsl(230, 24%, 12%);
  font-weight: 600;
  margin-bottom: .25rem;
}

.card__profession {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

/* Scale profile image */
.card__contact:hover .card__profile {
  transform: scale(.8);
  opacity: .7;
}

/* Show tooltip card */
.card__contact:hover .card__tooltip {
  opacity: 1;
  pointer-events: initial;
  bottom: 8rem;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
  height: 400px;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
  align-content: center;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.app-form-group {
  margin-bottom: 30px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: #cc0000;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 0.5em 1.5em;
  border-radius: 20px;
}

.app-form-button:hover {
  background: #ff5151;
}










/*======================================================== BREAKPOINTS ================================================================*/
/* For Navigation Bar */
@media screen and (max-width: 868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.hide{
    display: none;
  }
  .navbar{
    padding: 15px 0;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 40px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
    background: #1b1b1b;

  }

  .navbar .menu-list li:first-child{
    margin-top: 1em;
  }

  .navbar .menu-list li{
    padding-block: 1.4em;
  }

  .navbar .menu-list li a{
    font-size: 1.3rem;
  }

  .menu-list li a:hover{
    color: #ffffff;
  }

  .navbar .menu-list li:hover{
    background-color: #414141;
  }

  .navbar .logo img{
    height: 40px;
  }
}


/* For medium devices */
@media screen and (max-width: 770px) {
  .proj__container {
    padding: 6em 3em;
  }

  .card__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card__data {
    padding: 1rem;
    bottom: -10.5rem;
  }

  .card__container {
    row-gap: 4.5rem;
  }

  .paragraph-large {
    font-size: 1.125rem;
  }

  .timeline_item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }

  .timeline_left {
    text-align: left;
    grid-area: 1 / 2 / 2 / 3;
  }

  .timeline_centre {
    justify-content: flex-start;
    grid-area: 1 / 1 / 3 / 2;
  }

  .timeline_right {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  .timeline_date-text {
    margin-bottom: 1em;
    font-size: 2rem;
  }

  .timeline_text {
    font-size: 1.1rem;
  }

  .timeline_progress {
    left: 6px;
  }

  .tab-title {
    font-size: 2.5rem;
  }

  .company-name{
    font-size: 1.2rem;
  }

  .padding-vertical-xlarge {
    padding-top: 6em;
    padding-bottom: 2em;
  }

  /* STAGGER LIST ----- */
  .menu-list {
    display: none;
    list-style: none;
    padding: 0;
  }
  .list_item {
    margin-left: 400px;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .list_item.active {
    opacity: 1;
    margin-left: 0px;
  }

  .list_item a {
    color: #fff;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
  }

  .card-skill-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* For small devices */
@media screen and (max-width: 480px){
  #profile{
    padding-top: 20%;
  }

  .img-fluid{
    max-width: 80%;
  }

  .card__button {
    width: 100%;
  }

  .banner{
    height: 100vh;
    background: url("img/background2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  #profile{
    display: block;
    padding-top: 10%;
    padding-bottom: 8%;
  }

  .banner .container-fluid .row{
    display: block;
  }

  .banner .container-fluid .row .col .h1{
    font-size: 2rem !important;
  }

  .banner .container-fluid .row{
    display: block;
  }

  #greet{
    font-size: 2rem;
  }
  
  .auto-type{
    font-size: 1.4rem;
  }

  #prof-desc{
    font-size: 1.4rem;
  }

  .typed-cursor{
    font-size: 1.4rem;
  }

  #prof-tagline{
    font-size: 1rem;
  }

  .card-skill-container {
		grid-template-columns: repeat(1, 1fr);
	}

  .proj__container {
    padding: 6em 2em;
  }

  .card__article {
    border: 5px solid var(--border-color, transparent);
    outline: 5px solid #fff; 
	  outline-offset: 5px;
  }

  .card-slider{
    --width: 150px;
    --height: 150px;
  }

  .skill-container{
    padding: 6em 1em;
  }

  .small-title{
    font-size: 2rem;
  }

  .tranding-slide {
    width: 20rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 20rem !important;
  }
  #certificates {
    padding: 6em 0.5em;
  }

  .card-contact-container{
    margin: auto;
    padding: 10px;
    width: 100%;
  }

  .screen-body {
    flex-direction: column;
    height: 100%;
    padding: 40px;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .screen-body-item {
    padding: 0;
  }

  .card__profile {
    width: 150px;
    height: 150px;
  }
  
  .card__profile img{
    width: 150px;
  }
  /* Show tooltip card */
  .card__contact:hover .card__tooltip {
    bottom: 5rem;
  }
}

@media screen and (max-width: 320px){
  .img-fluid{
    margin-top: 2em;
  }
  .tranding-slide {
    width: 15rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 15rem !important;
  }
}




