@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/*======================================================== GLOBAL CSS ================================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.tab-title {
  font-size: 3rem;
  padding-bottom: 0.8em;
  /* background: -webkit-linear-gradient(to right, #cc0000, #ff0000);
  background: linear-gradient(to right,  #cc0000, #ff0000); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.white-title{
  color: #ffffff;
}

.black-title{
  color: #1b1b1b;
}

.card{
  transform: translateX(80px);
  opacity: 0;
  transition: 150ms;
  border: none;
  background:none;
}

.card-container{
  overflow: hidden;
}

.card.show{
  transform: translateX(0);
  opacity: 1;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

/*======================================================== NAV BAR & BANNER =============================================================*/

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
  display: block;
}
.navbar.sticky{
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo img{
  height: 50px;
}
.navbar .menu-list{
  display: inline-flex;
  margin-bottom: 0;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: 0.8em;
  margin-right: 0.8em;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #cc0000;
}

.list_item {
  margin-left: 0px;
  opacity: 1;
}

.banner{
  height: 100vh;
  background: url("img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#ffffff;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.icon{
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  display: none;
}

.banner .container-fluid{
  padding: 10%;
  height: 100%;
  margin: 0;
}

.banner .container-fluid .row{
  height: 100%;
}

.typed-cursor{
  font-size: 2rem; 
  color: #ff0000;
}

#profile{
  display: none;
}

#greet{
  font-size: 3.5rem;
  margin-bottom: 0;
}

.auto-type{
  font-size: 2rem;
  color: #ff0000;
  font-weight: 600;
  margin-bottom: 0;
}

#prof-desc{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}

#prof-tagline{
  font-size: 1.2rem;
}

/*======================================================= MY EXPERIENCE PART =============================================================*/

.page-wrapper {
  position: relative;
}

.timeline-container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.company-name{
  font-size: 1.5rem;
  color: #ff0000;
  font-weight: 600;
}

.paragraph-large {
  letter-spacing: -0.02em;
  font-size: 1.25rem;
}

.section-timeline-heading {
  background-color: #ffffff;
}

.padding-vertical-xlarge {
  padding-top: 6em;
  padding-bottom: 30px;
}

.timeline-main_heading-wrapper {
  color: #000000;
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.timeline_component {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  padding-bottom: 6em;
}

.timeline_item {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-columns: 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  position: relative;
}

.timeline_left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}

.timeline_centre {
  justify-content: center;
  display: flex;
}

.timeline_date-text {
  color: #000000;
  letter-spacing: -0.03em;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  position: sticky;
  top: 50vh;
}

.timeline_text {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
}

.timeline_circle {
  background-color: #1b1b1b;
  border-radius: 100%;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #1b1b1b;
}

.timeline_progress {
  z-index: -2;
  background-color: #414141;
  width: 5px;
  height: 105%;
  position: absolute;
}

.timeline_progress-bar {
  z-index: -1;
  background: #ff0000;
  background: -webkit-linear-gradient(to bottom, #cc0000, #ff0000);
  background: linear-gradient(to bottom, #cc0000, #ff0000);

  width: 5px;
  height: 50vh;
  position: fixed;
  inset: 0 auto 50vh;
}

.section-timeline {
  z-index: -3;
  /* background-color: #ffffff; */
  background: url("img/background3.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.overlay-fade-top {
  /* background-image: linear-gradient(#0a0a0a, #0a0a0a00); */
  height: 80px;
  position: absolute;
  inset: 0% 0% auto;
}

.overlay-fade-bottom {
  /* background-image: linear-gradient(to top, #0a0a0a, #0a0a0a00); */
  height: 80px;
  position: absolute;
  inset: auto 0% 0%;
}

/*====================================================== SOFTWARE SKILLS PART ===========================================================*/

.skill-container{
  padding: 6em 3em;
  place-items: center;
  background: url("img/background4.jpg") no-repeat;
  background-size: cover;
}

.card-skill-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
	margin: auto;
	color: #e3e3e3;
	width: 100%;
	align-items: center;
}

.card-skill {
	position: relative;
	overflow: hidden;
	display: grid;
	grid-template-areas: "card";
	place-items: center;
	aspect-ratio: 19/20;
	border: 1px solid #27272a;
	border-radius: 2em;
  background-color: #1b1b1b;
	isolation: isolate;
	transition: border-color 200ms cubic-bezier(0.5, 1, 0.89, 1);
	user-select: none;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: radial-gradient(
		circle at bottom left,
		transparent 55%,#1b1b1b);
		pointer-events: none;
		box-shadow: #1b1b1b -0.5cqi 0.5cqi 2.5cqi inset;
		transition: opacity 900ms cubic-bezier(0.5, 1, 0.89, 1);
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		margin: auto;
		aspect-ratio: 1;
		background: radial-gradient(circle, #09090b, transparent 65%);
		opacity: 0;
		transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
	}

	> * {
		grid-area: card;
	}

	svg {
		position: relative;
		z-index: 1;
		width: 30%;
		height: auto;
		color:  #52525b;
		transition: 300ms cubic-bezier(0.5, 1, 0.89, 1);
		transition-property: color, scale;
	}

	button {
		opacity: 0;
	}

	&:focus-within {
		outline: 5px auto Highlight;
		outline: 5px auto -webkit-focus-ring-color;
	}

	&:where(:hover, :focus-within) {
		border-color: var(--active-color, #e3e3e3);
		transition: border-color 800ms cubic-bezier(0.45, 0, 0.55, 1);
	}

	&:where(:hover, :focus-within) svg {
		color: var(--active-color,#e3e3e3);
		scale: 1.1;
		transition: 300ms cubic-bezier(0.45, 0, 0.55, 1);
	}

	&:where(:hover, :focus-within)::before {
		opacity: 0;
	}

	&:where(:hover, :focus-within)::after {
		opacity: 1;
	}
}

/*======================================================== MY PROJECTS PART ==============================================================*/

/*=============== CARD ===============*/
.proj__container {
  display: grid;
  place-items: center;
  padding-block: 6rem;
  /* background-color: #1b1b1b; */
  background: url("img/background4.jpg") no-repeat;
  background-size: cover;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
  column-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 600px;
  border-radius: 1.5rem;
  display: block;
  max-width: 100%;
  height: auto;
}

.card__data {
  width: 90%;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 0.2s 1s;
}

.card__description {
  display: block;
  font-size: 0.8rem;
  margin: 0.5em 0;
}

.card__title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #1b1b1b;
  margin-bottom: 0;
  text-align: center;
}

.card__button {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #cc0000;
  color: #fff;
  border-style: none;
  padding: 1% 5%;
  border-radius: 8px;
  margin-top: 3%;
  width: 27%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card__button:hover {
  background-color: #c54444;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

.more {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 1s ease;
}

.more.show {
  opacity: 1;
  max-height: 500px; /* Adjust based on content height */
}

.cert-container{
  background: url("img/background3.jpg") no-repeat;
  background-size: cover;
}







/*======================================================== BREAKPOINTS ================================================================*/
/* For Navigation Bar */
@media screen and (max-width: 868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.hide{
    display: none;
  }
  .navbar{
    padding: 15px 0;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 40px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
    background: #1b1b1b;

  }

  .navbar .menu-list li:first-child{
    margin-top: 2.8em;
  }

  .navbar .menu-list li{
    padding-block: 1.4em;
  }

  .navbar .menu-list li a{
    font-size: 1.3rem;
  }

  .menu-list li a:hover{
    color: #ffffff;
  }

  .navbar .menu-list li:hover{
    background-color: #414141;
  }

  .navbar .logo img{
    height: 40px;
  }
}


/* For medium devices */
@media screen and (max-width: 770px) {
  .proj__container {
    padding-inline: 1em;
    padding-bottom: 5em;
  }

  .card__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card__data {
    padding: 1rem;
    bottom: -10.5rem;
  }

  .card__container {
    row-gap: 4.5rem;
  }

  .paragraph-large {
    font-size: 1.125rem;
  }

  .timeline_item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }

  .timeline_left {
    text-align: left;
    grid-area: 1 / 2 / 2 / 3;
  }

  .timeline_centre {
    justify-content: flex-start;
    grid-area: 1 / 1 / 3 / 2;
  }

  .timeline_right {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  .timeline_date-text {
    margin-bottom: 1em;
    font-size: 2rem;
  }

  .timeline_text {
    font-size: 1.1rem;
  }

  .timeline_progress {
    left: 6px;
  }

  .tab-title {
    font-size: 2.5rem;
  }

  .company-name{
    font-size: 1.2rem;
  }

  .padding-vertical-xlarge {
    padding-top: 6em;
    padding-bottom: 2em;
  }

  /* STAGGER LIST ----- */
  .menu-list {
    display: none;
    list-style: none;
    padding: 0;
  }
  .list_item {
    margin-left: 400px;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .list_item.active {
    opacity: 1;
    margin-left: 0px;
  }

  .list_item a {
    color: #fff;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
  }

  .card-skill-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* For small devices */
@media screen and (max-width: 480px){
  #profile{
    padding-top: 20%;
  }
  .card__button {
    width: 100%;
  }

  .banner{
    height: 100vh;
    background: url("img/background2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  #profile{
    display: block;
    padding-top: 10%;
    padding-bottom: 8%;
  }

  .banner .container-fluid .row{
    display: block;
  }

  .banner .container-fluid .row .col .h1{
    font-size: 2rem !important;
  }

  .banner .container-fluid .row{
    display: block;
  }

  #greet{
    font-size: 2rem;
  }
  
  .auto-type{
    font-size: 1.4rem;
  }

  #prof-desc{
    font-size: 1.4rem;
  }

  .typed-cursor{
    font-size: 1.4rem;
  }

  #prof-tagline{
    font-size: 1rem;
  }

  .card-skill-container {
		grid-template-columns: repeat(1, 1fr);
	}
}




